{% extends "layout.html" %}
{% block content %}
<h1>Reservations - <span style="font-size:.7em;color:darkblue">{{session["user"]}}</span></h1>
<h2>this page should only be visible after a user has logged in</h2>
<ol>
   <li>user should only see his/her reservations</li>
   <li>booking or canceling should only be done on search engine page or hotel page</li>
</ol>
<table class="table">
  <thead>
    <tr>
       <th scope="col">Hotel</th>
      <th scope="col">Address</th>
      <th scope="col">Room #</th>
    </tr>
  </thead>
  <tbody>
    <tr>
       <td><i>Pull Hotel Name</i></td>
      <td><i>Pull Address</i></td>
      <td><i>Pull Room #</i></td>
      <td><input class="button" type="button" onclick="" value="Cancel Reservation" /></td>
   </tr>
    <tr>
      <td><i>Pull Hotel Name</i></td>
      <td><i>Pull Address</i></td>
      <td><i>Pull Room #</i></td>
      <td><input class="button" type="button" onclick="" value="Cancel Reservation" /></td>

    </tr>
    <tr>
      <td><i>Pull Hotel Name</i></td>
      <td><i>Pull Address</i></td>
      <td><i>Pull Room #</i></td>
      <td><input class="button" type="button" onclick="" value="Cancel Reservation" /></td>

      <td><input class="button" type="button" onclick="" value="Cancel Reservation" /></td>

      <td><input class="button" type="button" onclick="" value="Cancel Reservation" /></td>

      <td><input class="button" type="button" onclick="" value="Cancel Reservation" /></td>

      <td><input class="button" type="button" onclick="" value="Cancel Reservation" /></td>

      <td><input class="button" type="button" onclick="" value="Cancel Reservation" /></td>

      <td><input class="button" type="button" onclick="" value="Cancel Reservation" /></td>

      <td><input class="button" type="button" onclick="" value="Cancel Reservation" /></td>

      <td><input class="button" type="button" onclick="" value="Cancel Reservation" /></td>

      <td><input class="button" type="button" onclick="" value="Cancel Reservation" /></td>

      <td><input class="button" type="button" onclick="" value="Cancel Reservation" /></td>

    </tr>
  </tbody>
</table>
<input class="button" type="button" onclick="window.location.replace('Details')" value="Return" />

{% endblock content %}
